<div class="moneyConverter-container">
<span [ngStyle]="{clear: this.inline ? 'none' : 'left'}">{{this.btc}} BTC</span>
<span [ngStyle]="{float: this.inline ? 'right' : 'left', clear: this.inline ? 'none' : 'left'}">$ {{this.dollars}}</span>
</div>
