<mat-card  class="mat-elevation-z4">
<div class="transactions-container" *ngIf="this.dataSource.data.length > 0">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef> Owner ID </mat-header-cell>
      <mat-cell *matCellDef="let transactions"> {{transactions.owner}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderCode">
      <mat-header-cell *matHeaderCellDef> orderCode </mat-header-cell>
      <mat-cell *matCellDef="let transactions"> {{transactions.orderCode}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderId">
      <mat-header-cell *matHeaderCellDef> orderId </mat-header-cell>
      <mat-cell *matCellDef="let transactions"> {{transactions.orderId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="credit">
      <mat-header-cell *matHeaderCellDef> Credit </mat-header-cell>
      <mat-cell *matCellDef="let transactions"> <app-moneyconverter [btc]="transactions.credit"></app-moneyconverter> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
      <mat-cell *matCellDef="let transactions"> <app-moneyconverter [btc]="transactions.balance"></app-moneyconverter></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
      <!-- <a fxFlexFill [routerLink]="'/details/'row.guid" class="mat-row-link"></a> -->
    </mat-row>
  </mat-table>
</div>
<div *ngIf="this.dataSource.data.length === 0">
  <p>No transactions recorded for this user</p>
</div>
</mat-card>