<div *ngIf="this.userInfo !== undefined" style="" class="userdetails">
<mat-card>
  <mat-card-subtitle>{{this.userInfo.name}}</mat-card-subtitle>
  <mat-card-content>
  <mat-card-title class="current-position">
    Balance:
    <div>
    <app-moneyconverter style="float:left; width: 250px;" class="balance" [inline]="true" [btc]="this.userInfo.balance"></app-moneyconverter>
  </div>
  </mat-card-title><br>
  <div style="display: inline-block;">
    
    <app-moneyconverter style="float:left; width: 130px;margin-right: 10px;" class="balance" [inline]="true" [btc]="this.userInfo.balance"></app-moneyconverter>
    Available Balance
  </div>
</mat-card-content>
</mat-card>
</div>