.userdetails {
  .mat-card {
    min-height: 150px;
  }
  margin: 0 auto;
  max-width: 90%;
  padding: 10px;
  app-moneyconverter > div > span:nth-child(2) {
      float: right!important;
  }
 
}

// body > app-root > app-details > app-userdetails > div > mat-card > mat-card-content > mat-card-title > app-moneyconverter > div > span:nth-child(2)