
<div class="accounts-container">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.category}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.tag}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
      <mat-cell *matCellDef="let account"> <app-moneyconverter [btc]="account.balance"></app-moneyconverter> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="availableBalance">
      <mat-header-cell *matHeaderCellDef> AvailableBalance </mat-header-cell>
      <mat-cell *matCellDef="let account"> <app-moneyconverter [btc]="account.availableBalance"></app-moneyconverter></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetails(row.guid)">
      <!-- <a fxFlexFill [routerLink]="'/details/'row.guid" class="mat-row-link"></a> -->
    </mat-row>
  </mat-table>
</div>